<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_post</title>
</head>
<body>
    <form action="get_add_data" METHOD="post" >
        帖子标题：<input type="text" name="tit"></br></br>
        作 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;者：<input type="text" name="auth"></br></br>
{#        帖子摘要：<textarea style="height: auto;width: 400px" name="sum"></textarea></br></br>#}
        帖子内容：<textarea style="height: auto;width: 400px" name="cont"></textarea></br></br></br>
        <input type="submit" value="录入" style="margin-left: 420px">
    </form>
</body>
</html>